h1 {
	text-align: center;
}
.blockOfExample {
	margin-bottom: 10px;
	background: #f8f9fa;
}
.blockOfExample h1{
	color: #0dcaf0;
}
.example{
	border: solid 2px #0dcaf0;
	padding: 5px;
}
.buttonGeo{
	background: none;
	border: none;
}

.row {
	display: flex
}